
/* <!--     RANKS    -->
   <!--  0 > 40  : C -->
   <!-- 40 > 66  : B -->
   <!-- 66 > 83  : A -->
   <!-- 83 > 100 : S --> */

/* RANKED NEW */

.rankNew:after {
	content: "New!";
	color: magenta;
	background-color: lime;
}

.rankNo:after {
	background-color: lime;
	color: black;
}

/* RANKED X */
.rankX:after {
	content: "X";
	color: dimgray;
	background-color: black;
}

/* RANKED S */
.rankS:after {
	content: "S";
	color: lime;
	background-color: blue;
	padding-left: 1px;
	padding-right: 2px;
	padding-left: 1.5px;
	padding-right: 1.5px;
}

/* RANKED A */
.rankA:after {
	content: 'A';
	color: lime;
	background-color: firebrick;
}

/* RANKED B */
.rankB:after {
	content: 'B';
	color: silver;
	background-color: darkred;
	padding-left: 1px;
	padding-right: 0;
	padding-left: 1px;
	padding-right: 0.5px
}

/* RANKED C */
.rankC:after {
	content: "C";
	color: sienna;
	background-color: lightsalmon;
}

/* SPECIAL COLORS */
.cometMarquee {
	color: magenta;
}
.cometMarquee b:hover {
	color: lime;
}
